<configuration>
  <appSettings>
    <add key="Url" value="https://ca.yahoo.com" />
    <add key="YahooUserName" value="izrankhattak@yahoo.com" />
    <add key="YahooUserPassword" value="" />
    <add key="ConnectionStringMssql" value="server=IZRAN-PC\SQLEXPRESS;database=Demo3;persist security info=false;user id=sa;password=izran@123;Connection Timeout=30"/>
    <add key="ConnectionStringMysql" value="Server=127.0.0.1;Uid=root;Pwd=;Database=demo3;"/>
    <add key="ConnectionStringMongoDb" value="mongodb://localhost"/>
    <add key="ConnectionStringXLS" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\izran\Documents\Visual Studio 2015\Projects\Automation-Test\Automation-Test\Data\Book1.xls;Extended Properties='Excel 8.0;HDR=Yes;'"/>
    
  </appSettings>
</configuration>